.env
*/.env

idea
.idea
.vscode
*/idea
*/.idea
*/.vscode
*/.git

#backend/shop/migrations
backend/venv/
backend/env/

backend/!*media/.gitkeep
backend/media/*
backend/staticfiles

backend/db_backup/*

backend/logs/*.log
backend/log/*.log


frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local

frontend/cypress/videos/
frontend/cypress/screenshots/

frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

frontend/*.tsbuildinfo


__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
.pyc
*.pyc
