.idea
idea
DS_Store
.git
.coverage


*.egg-info/
.installed.cfg
*.egg

dist
database.db

env
venv

celerybeat-schedule.*


__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*
staticfiles

db_backup/*

logs/*.log
log/*.log


build
doc
home.rst
make.bat
Makefile
